{% extends 'base.html.twig' %}

{% block title %}Annonces{% endblock %}

{% block body %}
<div class="breadcrumbs d-flex align-items-center" style="background-image: url('assets/img/contact-header.jpg');">
      <div class="container position-relative d-flex flex-column align-items-center">

        <h2>Ajouter annonce</h2>
        <ol>
          <li><a href="index.html">Accueil</a></li>
          <li>Ajouter annonce</li>
        </ol>

      </div>
    </div><!-- End Breadcrumbs -->
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ annonce.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ annonce.type }}</td>
            </tr>
            <tr>
                <th>Ville_dep</th>
                <td>{{ annonce.villeDep }}</td>
            </tr>
            <tr>
                <th>Ville_arr</th>
                <td>{{ annonce.villeArr }}</td>
            </tr>
            <tr>
                <th>Date_dep</th>
                <td>{{ annonce.dateDep }}</td>
            </tr>
            <tr>
                <th>Date_arr</th>
                <td>{{ annonce.dateArr }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ annonce.prix }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ annonce.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_annonces_index') }}"class="btn btn-primary">Retour aux annonces</a>

    <a href="{{ path('app_annonces_edit', {'id': annonce.id}) }}"class="btn btn-primary">Modifier</a>

    {{ include('annonces/_delete_form.html.twig') }}
{% endblock %}
