{% extends 'baseadmin.html.twig' %}

{% block title %}User index
{% endblock %}

{% block body %}
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h1>Liste des utilisateurs</h1>

<div class="pagination">
        {{ knp_pagination_render(users) }}
    </div>
	<div class="container-fluid p-0">


		<div class="row">
			<div class="col-12" style="overflow-x: scroll">
				<div class="card" style="width: 4300px;">
					<div class="card-header">
					</div>
					<div class="card-body">
						<input type="text" id="search" class="form-control" placeholder="Search"><br>
						<table border="1" id="t" class="table">
							<thead>
								<tr>

									<td>Email</td>
									<td>Roles</td>
									<td>Password</td>
									<td>Nom</td>
									<td>Prenom</td>
									<td>Adress</td>
									<td>Cin</td>
									<td>Date_naissance</td>
									<td>Date_creation_c</td>
									<td>Status</td>
									<td>Token</td>
									<td>Score</td>
									<td>Numtel</td>
									<td>Image</td>
									<td>Compte_ex</td>
									<td>Token_ex</td>
									<td>actions</td>
								</tr>
							</thead>
							<tbody id="all">
								{% for user in users %}

									<tr>

										<td>{{ user.email }}</td>
										<td>
											{% if user.roles is defined %}
												<p class="m-0">{{ user.roles[0] }}</p>
											{% endif %}
										</td>
										<td>{{ user.password }}</td>
										<td>{{ user.nom }}</td>
										<td>{{ user.prenom }}</td>
										<td>{{ user.adress }}</td>
										<td>{{ user.cin }}</td>
										<td>{{ user.dateNaissance ? user.dateNaissance|date('Y-m-d') : '' }}</td>
										<td>{{ user.dateCreationC ? user.dateCreationC|date('Y-m-d') : '' }}</td>
										<td>{{ user.status ? 'Yes' : 'No' }}</td>
										<td>{{ user.token }}</td>
										<td>{{ user.score }}</td>
										<td>{{ user.numtel }}</td>
										<td><img src="{{user.image}}" alt="Admin" class="rounded-circle p-1 bg-primary" width="50" height="50">
										</td>
										<td>{{ user.compteEx ? user.compteEx|date('Y-m-d') : '' }}</td>
										<td>{{ user.tokenEx ? user.tokenEx|date('Y-m-d') : '' }}</td>
										<td>
{# 
											{% if user.isStatus %}
												<button id="btn-block" data-id="{{ user.id }}">Débloquer</button>
											{% else %}
												<button id="btn-block" data-id="{{ user.id }}">Bloquer</button>
											{% endif %} #}
											<a href="{{ path('app_admin_show', {'id': user.id}) }}">show</a>
											<a href="{{ path('app_admin_edit', {'id': user.id}) }}">edit</a>
										</td>
									</tr>
								{% else %}
									<tr>
										<td colspan="18">no records found</td>
									</tr>
								{% endfor %}
							</tbody>
							<tbody id="searchtab"></tbody>
						</table>

						<a href="{{ path('app_admin_new') }}">Create new</a>
					{% endblock %}
					{% block javascripts %}
						{{ parent() }}


						<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
						<script>
							$(document).ready(function () {
$("#search").keyup(function () {
var value = $(this).val();
console.log("value : ")

$.ajax({
url: "{{ path('app_admin_search') }}",

type: 'GET',

data: {
'searchValue': value
},

success: function (retour) {
if (retour) {
$('#t tbody#searchtab').empty();
$.each(JSON.parse(retour), function (i, obj) {
$('#t tbody#all').hide();

$('#t tbody#searchtab').append('<tr><td> ' + obj.email + ' </td><td>' + obj.roles[0] + '</td><td>' + obj.password + '</td><td>' + obj.nom + '</td><td>' + obj.prenom + '</td><td>' + obj.adress + '</td><td>' + obj.cin + '</td><td>' + obj.dateNaissance + '</td><td>' + obj.dateCreationC + '</td><td>' + obj.status + '</td><td>' + obj.token + '</td><td>' + obj.score + '</td><td>' + obj.numtel + '</td><td><img src="' + obj.image + '" alt="Admin" class="rounded-circle p-1 bg-primary" width="50" height="70"></td><td>' + obj.compteEx + '</td><td>' + obj.tokenEx + '</td><td><a href="edit/' + obj.id + '">Edit</a> </br><a	href="' + obj.id + '">Afficher</a></td></tr>');
});
} else {
$('#t tbody#all').show();
$('#t tbody#searchtab').empty();
$('#t tbody#searchtab').fadeIn('fast');
}
}
});
return false;
});
});
$(document).ready(function () {
$("body").on("click", "#btn-block", function () {
var userId = $(this).data("id");
var status = $(this).text().trim();

$.ajax({
url: "/user/block/" + userId,
type: "GET",
data: {
status: status
},
success: function (response) {
if (response.success) { // Mise à jour de l'état du bouton
var button = $("#btn-block[data-id='" + userId + "']");
if (status === "Bloquer") {
button.text("Débloquer");
} else {
button.text("Bloquer");
}
} else {
alert("Erreur : " + response.message);
}
},
error: function () {
alert("Une erreur est survenue lors de la requête AJAX.");
}
});
});
});
						</script>


					{% endblock %}
