{% extends 'base.html.twig' %}

{% block title %}Gifts{% endblock %}

{% block body %}
 <div class="container">
        <div class="py-2 text-center">
            <h2>Bienvenue sur la liste des cadeaux</h2>
            <p>Votre score actuel est : </p>
        </div>
    <a href="{{ path('app_gifts_index') }}" style="color: #00b4d8; font-size: 2.0em; text-decoration: none;" >Gifts</a>

    <div class="row">
        {% for gift in gifts %}
            <div class="col-md-3">
                <div class="card mb-4 shadow-sm">
                    <img src="{{ gift.photo }}" class="card-img-top" alt="{{ gift.name }}" style="height: 200px; object-fit: cover;">
                    <div class="card-body">
                        <h5 class="card-title">{{ gift.name }}</h5>
                        <p class="card-text">{{ gift.description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <p class="card-text"><strong>{{ gift.value }}</strong></p>
                            <div class="btn-group">
                                <a href="#" class="btn btn-sm btn-outline-secondary">Echanger</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <p class="text-center">no records found</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}