<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta content="width=device-width, initial-scale=1.0" name="viewport">

		<title>Amena Bootstrap Template - Contact</title>
		<meta content="" name="description">
		<meta
		content="" name="keywords">

		<!-- Favicons -->
		<link href="front/assets/img/favicon.png" rel="icon">
		<link
		href="front/assets/img/apple-touch-icon.png" rel="apple-touch-icon">

		<!-- Google Fonts -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
			<!-- Vendor CSS Files -->
			<link href="{{asset('front/assets/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
			<link href="{{asset('front/assets/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
			<link href="{{asset('front/assets/vendor/aos/aos.css')}}" rel="stylesheet">
			<link href="{{asset('front/assets/vendor/glightbox/css/glightbox.min.css')}}" rel="stylesheet">
			<link href="{{asset('front/assets/vendor/swiper/swiper-bundle.min.css')}}" rel="stylesheet">
			<link href="front/assets/vendor/remixicon/remixicon.css" rel="stylesheet">
			<link
			href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
			<!-- Template Main CSS File -->
			<link href="{{asset('front/assets/css/main.css')}}" rel="stylesheet">

		{% endblock %}


	</head>
	<body>
	{% for flash_message in app.flashes('success') %}
    <div class="alert alert-success alert-dismissible fade show" role="alert" id="flash-message">
        <div class="d-flex align-items-center">
            <i class="bi bi-check-circle-fill me-2"></i>
            <span>{{ flash_message }}</span>
        </div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endfor %}
{% for flash_message in app.flashes('error') %}
<div class="alert alert-danger alert-dismissible fade show" role="alert" id="flash-message">
<div class="d-flex align-items-center">
<i class="bi bi-exclamation-triangle-fill me-2"></i>
<span>{{ flash_message }}</span>
</div>
<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

<script>
    // Masquer automatiquement le message de succès après 3 secondes
    setTimeout(function() {
        var flashMessage = document.getElementById('flash-message');
        if (flashMessage !== null) {
            flashMessage.remove();
        }
    }, 3000);
</script>
		<!-- ======= Header ======= -->
		<header id="header" class="header d-flex align-items-center fixed-top" style="margin-bottom:8%;background: rgba(27, 47, 69, 0.9);padding: 15px;">
			<div class="container-fluid container-xl d-flex align-items-center justify-content-between">

				<a href="{{path('app_accueil')}}" class="logo d-flex align-items-center">
					<!-- Uncomment the line below if you also wish to use an image logo -->
					 <img src="front/assets/img/logo.png" alt="" style =height:200px;> 
						<h1 class="d-flex align-items-center"> Amena</h1>
				</a>

				<i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
				<i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

				<nav id="navbar" class="navbar">
					<ul>
						<li>
							<a  href="{{path('app_accueil')}}">Accueil</a>
						</li>
						<li>
							<a  href="{{path('app_user_index')}}">Liste des transporteurs</a>
						</li>
						<li>
							<a href="{{ path('app_reclamations_new') }}">Reclamer</a>
						</li>

						<li>
							<a href="/annonces/">Annonces</a>
						</li>
						
						<li>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							{% if app.user.roles[0] == "ROLE_USER" %}
								<a  href="/colis/">Colis</a>
							{% endif %}	
						{% endif %}					
				
						</li>
						{% if is_granted('IS_AUTHENTICATED_FULLY') %}						
							{% if app.user.roles[0] == "ROLE_TRANSPORTEUR" %}
						<li>
							<a href="/documentexpedition/">Document d'expedition</a>
						</li>
						<li class="dropdown">
							<a>
								<span>Location des vehicules</span>
								<i class="bi bi-chevron-down dropdown-indicator"></i>
							</a>
							<ul>
								<li>
									<a href="/front/reservation">Reserver vehicule</a>
								</li>
								<li>
									<a href="/front/reservation/MesReservations">Mes reservations</a>
								</li>							
							</ul>
						</li>
						<li class="dropdown">
							<a>
								<span>Competition et Cadeaux</span>
								<i class="bi bi-chevron-down dropdown-indicator"></i>
							</a>
							<ul>
								<li>
									<a href="/front/competition">Participer a des competition</a>
								</li>
								<li>
									<a href="/front/competition/cadeaux">Voir les cadeaux</a>
								</li>							
							</ul>
						</li>
							{% endif %}
							{% endif %}

						<li>
							{% if is_granted('ROLE_ADMIN') %}
								<a  href="{{ url('app_stats_index') }}">Espace Admin </a>
							{% endif %}
						</li>
						
						<ul>
						<li>

								</li>
							{% if is_granted('IS_AUTHENTICATED_FULLY') %}
							 <a href="/user/profil" class="active">Profil</a>
								<li>
									<a href="/logout/" class="active">Déconnexion</a>

								</li>
							{% else %}
								<li>
									<a href='{{ path('app_login') }}'>Connexion</a>
								</li>
								<li>
									<a href="{{ path('app_user_new') }}">Inscription</a>

								</li>
							{% endif %}
						</ul>
					</ul>
				</nav>
				<!-- .navbar -->

			</div>
		</header>
		<!-- End Header -->
<!--Rayeeeeeen -->



<!--Rayeeeeeen -->


		<main id="main"> {% block body %}{% endblock %}
			</main>
			<!-- End #main -->
			
  			<a class="scroll-top d-flex align-items-center justify-content-center">
				<i class="bi bi-arrow-up-short"></i>
			</a>

			<div id="preloader"></div>
			{% block javascripts %}
				{{ encore_entry_script_tags('app') }}
				<!-- Vendor JS Files -->
				<script src="{{asset('front/assets/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
				<script src="{{asset('front/assets/vendor/aos/aos.js')}}"></script>
				<script src="{{asset('front/assets/vendor/glightbox/js/glightbox.min.js')}}"></script>
				<script src="{{asset('front/assets/vendor/swiper/swiper-bundle.min.js')}}"></script>
				<script src="{{asset('front/assets/vendor/isotope-layout/isotope.pkgd.min.js')}}"></script>
				<script src="{{asset('front/assets/vendor/php-email-form/validate.js')}}"></script>

				<!-- Template Main JS File -->
				<script src="{{asset('front/assets/js/main.js')}}"></script>

			{% endblock %}
		</body>
	</html>
