{% extends 'base.html.twig' %}

{% block title %}User
{% endblock %}
{% block stylesheets %}
	{{parent()}}
	<link href="{{asset('front/assets/css/profiluser.css')}}" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.css">

{% endblock %}
{% block body %}
	<div class="container">
		<div class="main-body">

			<a class="btn btn-dark" href="{{ path('app_user_index') }}">back to list</a>


			<div class="row gutters-sm">

				<div class="col-md-4 mb-3">
					<div class="card">
						<div class="card-body">
							<div class="d-flex flex-column align-items-center text-center">
								<img src="{{user.image}}" alt="Admin" class="rounded-circle p-1 bg-primary" width="180" height="180">
								<div class="mt-3">
									<h4>{{ user.score }}</h4>
									<p class="text-secondary mb-1">
										{% if user.roles is defined %}
											<p class="m-0">{{ user.roles[0] }}</p>
										{% endif %}
									</p>


									<form action="{{ path('app_user_showp', {'id': user.id}) }}" method="post">


										<div class="rateyo" id="rating" data-rateyo-rating="4" data-rateyo-num-stars="5" data-rateyo-score="3"></div>
										<span class='result'>0</span>
										<input type="hidden" name="rating">

										<input type="submit" name="add" class="btn btn-outline-primary">
										<a href="{{ path('app_message_new', {'id': user.id} )}}" class="btn btn-outline-primary">Message</a>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="card mt-3">
						<ul class="list-group list-group-flush"></ul>
					</div>
				</div>
				<div class="col-md-8">
					<div class="card mb-3">
						<div class="card-body">
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Full Name</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.nom}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Email</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.email}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Phone</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.numtel}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Adress</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.adress}}
								</div>
							</div>
							<hr>
							<div class="row">
								<div class="col-sm-3">
									<h6 class="mb-0">Cin</h6>
								</div>
								<div class="col-sm-9 text-secondary">
									{{user.cin}}
								</div>
							</div>
							<hr>
							<div
								class="row">{# <div class="col-sm-12">
																																				
																																													<a class="btn btn-info " target="__blank" href="{{ path('app_user_edit', {'id': user.id}) }}">Edit</a>
																																												</div> #}
							</div>
						</div>
					</div>

					<div class="row gutters-sm">
						<div class="col-sm-6 mb-3">
							<div class="card h-100">
								<div class="card-body">


									<div class="container-fluid p-0">


										<div class="row">
											<div class="col-12" style="overflow-x: scroll">
												<div class="card" style="width: 430px;">
													<div class="card-header">
														<h5 class="card-title mb-0">
															<i class="material-icons text-info mr-2">Mes Colis</i>
														</h5>
													</div>
													<div class="card-body">
														<table class="table">
															<thead>
																<tr>

																	<th>
																		<a href="{{ path('app_admin_colis_index', { 'sort': 'nomExpediteur', 'direction': (app.request.get('sort') == 'nomExpediteur' and app.request.get('direction') == 'asc') ? 'desc' : 'asc' }) }}">NomExpediteur</a>
																	</th>


																	<th>
																		<a href="{{ path('app_admin_colis_index', { 'sort': 'poids', 'direction': (app.request.get('sort') == 'poids' and app.request.get('direction') == 'asc') ? 'desc' : 'asc' }) }}">Poids</a>
																	</th>
																	<th>
																		<a href="{{ path('app_admin_colis_index', { 'sort': 'statut', 'direction': (app.request.get('sort') == 'statut' and app.request.get('direction') == 'asc') ? 'desc' : 'asc' }) }}">Statut</a>
																	</th>
																	<th>
																		<a href="{{ path('app_admin_colis_index', { 'sort': 'dateExpedition', 'direction': (app.request.get('sort') == 'dateExpedition' and app.request.get('direction') == 'asc') ? 'desc' : 'asc' }) }}">DateExpedition</a>
																	</th>
																	<th>actions</th>
																</tr>
															</thead>
															<tbody id="table-body">
																{% for coli in colis %}
																	<tr>

																		<td>{{ coli.nomExpediteur }}</td>

																		<td>{{ coli.poids }}</td>
																		<td>{{ coli.statut }}</td>
																		<td>{{ coli.dateExpedition ? coli.dateExpedition|date('Y-m-d') : '' }}</td>
																		<td>
																			<a href="{{ path('app_admin_colis_show', {'id': coli.id}) }}">Afficher</a>
																			<a href="{{ path('app_admin_colis_edit', {'id': coli.id}) }}">Modifier</a>
																		</td>
																	</tr>
																{% else %}
																	<tr>
																		<td colspan="9">Aucun colis trouvé</td>
																	</tr>
																{% endfor %}
															</tbody>
														</table>


													</div>
												</div>
											</div>


										</div>
									</div>

								</div>
							</div>
						</div>
					</div>


					{% block javascripts %}
						{{parent()}}
						<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
						<script src="https://cdnjs.cloudflare.com/ajax/libs/rateYo/2.3.2/jquery.rateyo.min.js"></script>
						<script>
							$(function () {
$(".rateyo").rateYo().on("rateyo.change", function (e, data) {
var rating = data.rating;
$(this).parent().find('.score').text('score :' + $(this).attr('data-rateyo-score'));
$(this).parent().find('.result').text('rating :' + rating);
$(this).parent().find('input[name=rating]').val(rating); // add rating value to input field
});
});
						</script>
					{% endblock %}

				{% endblock %}
