{% extends 'base.html.twig' %}

{% block title %}Validation index
{% endblock %}

{% block body %}
<div style="margin-top:10%">
	<h1>Validation index</h1>

	<table class="table">
		<thead>
			<tr>
				
				<th>Imagea</th>
				<th>Imageb</th>
				<th>Valide</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for validation in validations %}
				<tr>
					
					<td><img style="width:100px;height:100px" src="{{ validation.imagea }}">
					</td>
					<td><img style="width:100px;height:100px" src="{{validation.imageb }}">
					</td>
					<td>{{ validation.valide ? 'Yes' : 'No' }}</td>
					<td>
						<a href="{{ path('app_validation_show', {'id': validation.id}) }}" class="btn btn-danger">show</a>

						<a href="{{ path('app_validation_edit', {'id': validation.id}) }}"class="btn btn-primary">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="5">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>
	
{% endblock %}
